# Python cache
__pycache__/
*.pyc

# Virtual environments
.env
.venv
env/
venv/
conda-env/

# Environment variables (IMPORTANT)
.env

# VS Code
.vscode/

# Mac
.DS_Store

# Logs
*.log

# Build / dist
build/
dist/
*.egg-info/

# Jupyter (if you ever use it)
.ipynb_checkpoints/